<h1>{{model.title}}</h1>
<p>{{model.content}}</p>

<ul>
  {{#each model.videos as |video|}}
    <li>
      {{video.name}}
      <a href= {{video.url}}>{{video.url}}</a>
    </li>
  {{/each}}
</ul>

{{#link-to 'therapies.therapy.comment-new' model}}<button class="btn btn-primary">Add Comment</button>{{/link-to}}

{{outlet}}
